.current-weather .forecast-part {
  display: grid !important;
  grid-template-columns: repeat(6, minmax(120px, 1fr));
  gap: var(--padding-small);
  justify-items: center;
  align-items: center;
  padding: var(--padding-medium);
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .forecast-part {
    grid-template-columns: repeat(5, minmax(120px, 1fr)) !important;
  }
}

@media (max-width: 900px) {
  .forecast-part {
    grid-template-columns: repeat(4, minmax(120px, 1fr)) !important;
  }
}

@media (max-width: 600px) {
  .forecast-part {
    grid-template-columns: repeat(3, minmax(120px, 1fr)) !important;
  }
}

@media (max-width: 368px) {
  .forecast-part {
    grid-template-columns: repeat(2, minmax(120px, 1fr)) !important;
  }
}

