/* filepath: src/components/Forecast.css */
.forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  overflow-y: auto;
  margin-bottom: var(--margin-medium);
}

.forecast-day {
  padding: var(--padding-small);
  border-radius: var(--border-radius);
  background: rgba(0,0,0,0.05);
}

.forecast-parts {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
}

@media (max-width: 1200px) {
  .forecast-parts {
    grid-template-columns: repeat(6, 1fr) !important;
  }
}
@media (max-width: 600px) {
  .forecast-parts {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

@media (max-width: 500px) {
  .forecast-parts {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .forecast-day {               
    padding: var(--padding-tiny);
  }

@media (max-width: 368px) {
  .forecast-parts {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}}

.forecast-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
