:root {
  --primary-color: #0056b3;
  --secondary-color: #007bff;
  --accent-color: aqua;
  --background-color: #f0f8ff;
  --text-color: white;
  --border-color: var(--accent-color);
}

#title {
  font-size: 2.5rem;
  color: var(--text-color);
  margin: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header, footer {
  text-align: center;
  padding: 0.1rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 100%;
  position: relative;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  border-bottom: 5px ridge var(--accent-color);
}

footer {
  border-top: 5px ridge var(--accent-color);
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.app {
  flex: 1;
  text-align: center;
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./images/blueribbon.jpg');
  background-size: cover;
  z-index: 0;
  padding: 20px;
  position: relative;
  min-height: 80vh;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  color: var(--text-color);
}

.fiveDay, .popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 1.25rem;
  text-align: center;
}

.fiveDay {
  color: aqua;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2mm ridge aqua;
}

.popup-content {
  color: black;
  background-color: #ffc414;
  border: 2px solid red;
}

.statusMessage {
  color: var(--text-color);
  font-size: 2.5rem;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form input {
  padding: 10px;
  width: 80%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  margin-top: 1rem;
}

.search-form button {
  padding: 10px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 1rem;
  width: 80%;
  max-width: 300px;
}

.search-form button:hover {
  background-color: var(--primary-color);
  transform: scale(1.05);
}

.search-form button:active {
  background-color: #003f7f;
  transform: scale(0.95);
}

.time {
  font-size: 1.15rem;
  color: var(--text-color);
}

.current-weather, .forecast {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 20px; /* Added padding */
  border-radius: 5px;
  border: 3px solid var(--accent-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  overflow-y: visible;
  height: auto;
  text-transform: capitalize;
}

.current-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.current-weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  width: 90%;
}


.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  width: 90%;
  max-width: 600px;
}

.forecast-day {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  margin: 0.5rem;
  box-sizing: border-box;
  width: 100%;
}

.forecast-day p {
  margin: 5px 0;
}

@media (max-width: 1024px) {
  .app, .current-weather, .forecast {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .current-weather-container {
    padding: 0.5rem;
  }

  .forecast-day {
    grid-template-columns: 1fr;
  }

  .forecast-part {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  header, footer {
    padding: 5px;
  }

  .search-form input, .search-form button {
    width: 100%;
    margin: 5px 0;
  }
}

@media (max-width: 320px) {
  .app {
    padding: 10px;
  }

  .search-form input, .search-form button {
    padding: 5px;
  }
}
